---
apiVersion: v1
kind: Service
metadata:
  name: svc-{{.Values.name}}
  labels:
    app: {{ $.Values.name }}
    {{ if ne $.Values.environment "prod" }}
    environment: {{ $.Values.environment }}
    {{ end }}
spec:
  type: {{.Values.serviceType}}
  ports:
  - port: {{.Values.servicePort}}
    targetPort: {{.Values.serviceTargetPort}}
    protocol: TCP
  selector:
    app: {{.Values.name}}
    {{ if ne .Values.environment "prod" }}
    environment: {{.Values.environment}}
    {{ end }}
